<footer>
    <div id="footerlink">
        <nav class="wrapper">
            <a href="{:U('./index')}" >首页</a>
            <a href="{:U('./about')}">关于</a>
            <a href="{:U('./service')}">服务</a>
            <a href="{:U('./case')}">案例</a>
            <a href="{:U('./Course')}" >历程</a>
            <a href="{:U('./contact')}">联系</a>
            <a href="{:U('./news')}">新闻</a>
        </nav>
    </div>
    <div id="footerinfo">
        <div class="wrapper">
            <h2>联系我们<strong>Contact</strong></h2>
            <p>
                <!--a target="_blank" href="javascript:if(confirm('http://wpa.qq.com/msgrd?v=3&uin=429592913&site=qq&menu=yes'))window.location='http://wpa.qq.com/msgrd?v=3&uin=429592913&site=qq&menu=yes'"><img border="0" src="{$Think.DH_SKIN}images/qq.png"  alt="点击这里给我发消息" title="点击这里给我发消息"/></a><br/-->
                电话：{$config_mobile}<br/>
                电子邮件：{$config_email}<br/>
                公司地址：{$config_address}<br/>
                备案编号：{$config_icp}<br/>
            </p>
            <img src="{$Think.DH_SKIN}images/map.png" id="homemap" width="260" height="190" alt="公司位置" />
        </div>
        <div class="links">
            <h2>友情链接<strong>Links</strong></h2>
            <p>
            <ul>
            <volist name="footer_Link" id="footer_Link">
                <li>
                    <a href="{$footer_Link.linkurl}" target='_blank'>{$footer_Link.title}</a>
                </li>

            </volist>

            </ul>
            </p>
        </div>
        <div class="Copyright">
            <p>Copyright © 2015 Pibu.com. All Rights Reserved. 版权所有 <a href="{$config_domain}">{$config_webname}</a> {$config_icp} </p>
            <a href="http://webscan.360.cn/index/checkwebsite/url/navi.simon8.com" style="display:none"><img border="0" src="http://img.webscan.360.cn/status/pai/hash/4a0f4c6e01eed3d9765ef06222fafb57"/></a>
        </div>
    </div>
</footer>