<header>
    <div id="navbg"></div>
    <div class="wrapper">
        <h1 class="logo"><a href="{:U('./index')}" ><img src="{$Think.DH_SKIN}images/logo.png"  width="213" height="36" /></a></h1>
        <nav>
            <ul>
                <li class="home"><a href="{:U('./index')}" >首页<span>网站首页！</span></a></li>
                <li class="about"><a href="{:U('./news')}"  title="企业新闻">企业新闻<span>企业动态？</span></a></li>
                <li class="service"><a href="{:U('./service')}"  title="网站建设">服务<span>我们能做什么？</span></a></li>
                <li class="cases"><a href="{:U('./case')}"  title="网页制作">案例<span>我们做过什么？</span></a></li>
                <li class="client"><a href="{:U('./course')}"  title="企业历程">企业历程<span>我们有什么？</span></a></li>
            </ul>
        </nav>
    </div>
</header>