<include file="Public:meta" />
<link rel="stylesheet" href="{$Think.DH_SKIN}css/style.css"  type="text/css" media="all" />
<!--[if lt IE 9]><script type="text/javascript" src="{$Think.DH_SKIN}js/html5.js"></script><![endif]-->
</head>
<body id="ruifoxHome">

<include file="Public:header" />

<!-- 查找最顶级栏目  -->
<section id="banner">
  <ul id="banner_img">
<foreach name="banner" item="t" key="k">
    <li style="background-image:url({$Think.DH_SKIN}images/banner_bg{$t[background]}.jpg);<if condition='$k==0'>display:block</if>">
      <div class="wrapper">
        <div class="ad_txt">
          <h2>{$t[title]|msubstr=###,0,20}</h2>
          <p>{$t[introduce]}</p>
        </div>
        <div class="ban_img"> <img src="{$t[thumb]}"  width="506" height="404" alt="" /> </div>
      </div>
    </li>
</foreach>

  </ul>
  <div id="banner_ctr">
    <div id="drag_ctr"></div>
    <ul>
      <li class="first-item">网站建设</li>
      <li>纺织产业平台</li>
      <li>应用系统开发</li>
      <li>品牌整合营销</li>
      <li>纺织数据中心</li>
      <li>展销会</li>
      <li>担保交易</li>
      <li>采购专场</li>
      <li>在线寻放样</li>
      <li class="last-item">网站设计</li>
    </ul>
    <div id="drag_arrow"></div>
  </div>
</section>
<section id="cases">
  <div class="cat_title wrapper">
    <h2>产品<strong>Products</strong></h2>
    <p>讲述我们的事迹<br/>
      Our Story </p>
    <a href="{:U('./case')}"  class="more">MORE+</a> </div>
  <ul>
      <volist name="Mall" id="Mall">
          <li><img src="{$Mall.thumb|imgurl=###,150}"   width="240" height="152" alt="{$Mall.title|msubstr=0,14}"/>
              <p> <strong>{$Mall.title|msubstr=0,14}</strong>{$Mall.introduce|msubstr=0,14}<br/>
                  <a href="{:U('Case/show?id='.$Mall['itemid'])}"  class="btn_blue">查看详细</a>
              </p>
          </li>
      </volist>
  </ul>
</section>

<section id="news">
  <div class="cat_title wrapper">
    <h2>新闻<strong>News</strong></h2>
    <p>关注我们、关注前沿<br/>
      Recently is to do ...</p>
    <a href="{:U('./news')}"  class="more">MORE+</a> </div>
  <div class="newsdata">
    <div class="newsad">
        <volist name="News_left" id="News_left">
            <span><a href="{:U('News/show?id='.$News['itemid'])}"><img src="{$News_left.thumb}" /> </a></span>
        </volist>
    </div>
      <ul>
          <volist name="News" id="News">
              <li> <a href="{:U('News/show?id='.$News['itemid'])}"><img src="{$News.thumb|imgurl=###,150}"   width="90" height="90" alt="{$News.title}"/></a>
                  <div class="newslist"> <a href="{:U('News/show?id='.$News['itemid'])}" title="{$News.title}">{$News.title|msubstr=0,14}</a> <span>UPTATED:{$News.edittime|date='Y-m-d',###}</span>
                      <p>{$News.introduce|strip_tags|msubstr=0,200}</p>
                  </div>
              </li>
          </volist>
      </ul>
  </div>
</section>

<include file="Public:footer" />

<div class="bottom_tools">
  <a href="http://qiao.baidu.com/v3/?module=default&controller=im&action=index&ucid=1588640&type=n&siteid=6550019" class="kf_tools" target="_blank">客服</a>
  <a href="javascrip:void(0);" class="qr_tool">二维码</a>
  <a href="{:U('./message')}" target="_blank" title="意见、建议、反馈、投诉、举报等" class="feedback">意见反馈</a>
  <a href="javascript:void(0);" id="scrollup" title="返回页面顶部" class="scrollup"></a>
  <div class="qrcode_box" style="display: none;"></div>
</div>
<script type="text/javascript" src="{$Think.DH_SKIN}js/jquery.1.8.2.min.js" ></script>
<script type="text/javascript" src="{$Think.DH_SKIN}js/jquery.plugin.min.js"></script>
<!--[if IE 6]>
<script type="text/javascript" src="{$Think.DH_SKIN}js/killie6.js"></script>
<![endif]-->
<script type="text/javascript">
//<![CDATA[
	//Nav Start
	$("header>div>nav>ul>li>a").hover(function(){
		$(this).parent().stop(false,true).animate({"background-position-x":"6px",opacity:"0.7"},{duration:"normal", easing: "easeOutElastic"});
	},function(){
		$(this).parent().stop(false,true).animate({"background-position-x":"10px",opacity:"1"},{duration:"normal", easing: "easeOutElastic"});
	});
	<!--- 首页 ---->
	$('.ad_img,#banner_ctr,#client').pngFix();
	$(window).scroll(function(){
		$(this).scrollTop()>80?$("#navbg").stop(false,true).animate({opacity:"1"},"normal"):$("#navbg").stop(false,true).animate({opacity:"0.8"},"normal");
	});
	//Banner Start
	var curIndex=0;
	var time=800;
	var slideTime=5000;
	var adTxt=$("#banner_img>li>div>.ad_txt");
	var adImg=$("#banner_img>li>div>.ad_img");
	var int=setInterval("autoSlide()",slideTime);

	$("#banner_ctr>ul>li[class!='first-item'][class!='last-item']").click(function(){
		show($(this).index("#banner_ctr>ul>li[class!='first-item'][class!='last-item']"));
		window.clearInterval(int);
		int=setInterval("autoSlide()",slideTime);
	});
	
	function autoSlide(){
		curIndex+1>=$("#banner_img>li").size()?curIndex=-1:false;
		show(curIndex+1);
	}
	function show(index){
		$.easing.def="easeOutQuad";
		$("#drag_ctr,#drag_arrow").stop(false,true).animate({left:index*115+20},300);
		$("#banner_img>li").eq(curIndex).stop(false,true).fadeOut(time);
		adTxt.eq(curIndex).stop(false,true).animate({top:"340px"},time);
		adImg.eq(curIndex).stop(false,true).animate({right:"120px"},time);
		setTimeout(function(){
			$("#banner_img>li").eq(index).stop(false,true).fadeIn(time);
			adTxt.eq(index).children("p").css({paddingTop:"50px",paddingBottom:"50px"}).stop(false,true).animate({paddingTop:"0",paddingBottom:"0"},time);
			adTxt.eq(index).css({top:"0",opacity:"0"}).stop(false,true).animate({top:"170px",opacity:"1"},time);
			adImg.eq(index).css({right:"-50px",opacity:"0"}).stop(false,true).animate({right:"10px",opacity:"1"},time);
		},200)
		curIndex=index;
	}
	//Banner End
	//Cases Start
	if($.support.transition){
		$("#cases>ul>li").hover(function(){
			$("img",this).stop(false,true).transition({
				perspective: '300px',
				rotateY: '180deg',
				opacity: '0'
			});
			$("p",this).css({display:'block',opacity:'0',rotateY: '-180deg'}).stop(false,true).transition({
				perspective: '300px',
				rotateY: '0deg',
				opacity: '1'
			});
		},function(){
			$("img",this).show().stop(false,true).transition({
				perspective: '300px',
				rotateY: '0deg',
				opacity: '1'
			});
			$("p",this).stop(false,true).transition({
				perspective: '300px',
				rotateY: '180deg',
				opacity: '0'
			});
		});
	}else{
		$("#cases>ul>li").hover(function(){
			$("img",this).stop(false,true).slideUp("fast");
			$("p",this).stop(false,true).slideDown("fast");
		},function(){
			$("img",this).stop(false,true).slideDown("fast");
			$("p",this).stop(false,true).slideUp("fast");
		});
	}
	$("#cases>ul>li>img").lazyload({effect:"fadeIn",failurelimit:10});
						$("#scrollup").click(function(){$('body,html').animate({scrollTop:0},500);})
$(".qr_tool").mouseover(function(){
    $(".qrcode_box").css("display","block");
});
$(".qr_tool").mouseout(function(){
    $(".qrcode_box").css("display","none");
});
//]]>
</script>
</body>
</html>
