<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="{$Think.AD_SKIN}css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">表单</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    
    <div class="formtitle"><span>基本信息</span></div>
<form action="{:U('link/add')}" method="post">
    <ul class="forminfo">
    <li>
        <label style="height:25px;line-height:25px;"><span class="f_red">*</span>网站分类</label>
        <select name="typeid" id="typeid" style="border: 1px solid rgb(169, 169, 169);height:25px;">
            <option value="1">行业网站</option>
            <option value="2">公司网站</option>
        </select>
    </li>
    <li>
        <label>网站名称</label>
        <input name="title" id="title" type="text" class="dfinput" value=""/>
        <i>
            <select name="level" id="level" style="border: 1px solid rgb(169, 169, 169);">
                <option value="1">1级别</option>
                <option value="2">2级别</option>
                <option value="3">3级别</option>
            </select>
        </i>
    </li>
    <li>
        <label>网站介绍</label>
        <textarea class="link-textarea" name="introduce" id="introduce"></textarea>
    </li>
    <li>
        <label>网站地址</label>
        <input name="linkurl" id="linkurl" type="text" class="dfinput" value=""/>
    </li>
    <li>
        <label>&nbsp;</label>
        <input name="" type="submit" class="btn" value="确认添加"/>
    </li>
    </ul>
</form>    
    
    </div>


</body>

</html>
