<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="{$Think.AD_SKIN}css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="#">表单</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    
    <div class="formtitle"><span>基本信息</span></div>
<form action="<if condition="$list">{:U('link/update')}<else />{:U('link/add')}</if>" method="post">
    <input type="hidden" name="itemid" value="{$list[itemid]}">
    <ul class="forminfo">
    <li>
        <label style="height:25px;line-height:25px;"><span class="f_red">*</span>网站分类</label>
        <select name="typeid" id="typeid" style="border: 1px solid rgb(169, 169, 169);height:25px;">
            <option value="1" <if condition="$list[typeid] == 1">selected</if>>行业网站</option>
            <option value="2" <if condition="$list[typeid] == 2">selected</if>>公司网站</option>
        </select>
    </li>
    <li>
        <label><span class="f_red">*</span>链接名称:</label>
        <input name="title" id="title" type="text" placeholder="请填写网站名称" class="dfinput"  maxlength="20" value="{$list[title]}"/>
        <i>
            <select name="level" id="level" style="border: 1px solid rgb(169, 169, 169);">
                <option value="0" <if condition="$list[level] == 0">selected</if>>无</option>
                <option value="1" <if condition="$list[level] == 1">selected</if>>1级别</option>
                <option value="2" <if condition="$list[level] == 2">selected</if>>2级别</option>
                <option value="3" <if condition="$list[level] == 3">selected</if>>3级别</option>
            </select>
        </i>
    </li>
    <li>
        <label><span class="f_red">*</span>链接URL:</label>
        <input name="linkurl" id="linkurl" value="{$list[linkurl]}" type="url" class="dfinput" value="{$list[linkurl]}" placeholder="地址前面必须带http://"/>
    </li>
    <li>
        <label>排序值:</label>
        <input type="number" name="listorder" value="{$list[listorder]}" id="listorder" placeholder="排序值越大越在前面" class="dfinput" />
    </li>
    <li>
        <label>首页显示:</label>
        <select name="elite" id="elite" class="dfinput">
            <option value="0" <if condition="$list[elite] == 0">selected</if>>否</option>
            <option value="1" <if condition="$list[elite] == 1">selected</if>>是</option>
        </select>
    </li>
    <li>
        <label>状态:</label>
        <select name="status" id="status" class="dfinput">
            <option value="0" <if condition="$list[status] == 0">selected</if>>待审</option>
            <option value="1" <if condition="$list[status] == 1">selected</if>>通过</option>
        </select>
    </li>
    <li>
        <label>备注信息:</label>
        <textarea class="link-textarea" name="introduce" id="introduce">{$list[introduce]}</textarea>
    </li>
    <li>
        <label>&nbsp;</label>
        <input name="" type="submit" class="btn" value="确认添加"/>
    </li>
    </ul>
</form>    
    
    </div>


</body>

</html>
