<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=1024" />
<title>{$Think.DH_SKIN}</title>
<meta name="keywords" content="html5+js,技术网站,应用,案例,三盛,都会,城," />
<meta name="description" content="三盛·都会城作为三盛地产在成都的全资开发项目，入主龙泉经开区，承载三盛地产在成都建立品牌的任务，三盛·都会城总投入近40亿元，前期将投入3亿重金，将该项目打造为龙泉乃至大成东" />
<link rel="stylesheet" href="{$Think.DH_SKIN}css/style.css" type="text/css" media="all" />
<!--[if lt IE 9]><script type="text/javascript" src="{$Think.DH_SKIN}js/html5.js" ></script><![endif]-->
</head>
<body >

<include file="Public:header" />

<!-- 查找最顶级栏目  -->
<section id="shownews">
  <div class="cat_title">
    <div class="wrapper">
      <h2><strong>NEWS</strong>新闻</h2>
      <p>最近正在折腾...<br/>
        Recently is to do ...</p>
    </div>
    <div class="cate_abso">
		<a href="javascript:void(0);" class="news_category">公司新闻</a>
		<a href="javascript:void(0);" class="news_category">行业动态</a>
    </div>
  </div>
  <article>
  
  
  
  <volist name="show" id="show">
      <h3 class="news_title">{$show.title}</h3>
        <div class="wrapper" id="detailed"> <img alt="" src="{$show.thumb}" tppabs="{$show.thumb}" style="width: 1024px; height: 533px;" /><br />
    <p>{$show.introduce}</p>
     </div>
  </volist>
 
 
 
 
    <div class="wrapper related">
      <h3> 你可能还对下面的新闻感兴趣
        <div class="share">
          <!-- Baidu Button BEGIN -->
          <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare"> <a class="bds_qzone"></a> <a class="bds_tsina"></a> <a class="bds_tqq"></a> <a class="bds_renren"></a> <a class="bds_t163"></a> <span class="bds_more">更多</span> <a class="shareCount"></a> </div>
          <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=0" ></script>
          <script type="text/javascript" id="bdshell_js"></script>
          <script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
</script>
          <!-- Baidu Button END -->
        </div>
      </h3>
      <ul>
      
        <li><a href="7.html" tppabs="http://mc18.eatdou.com/news/gsnews/7.html">html5+js技术网站应用案例：三盛·都会城网站建设</a></li>

      </ul>
    </div>
    <div id="case_footer">
      <div class="wrapper showother"> <a class="backlist" href="index.htm" tppabs="http://mc18.eatdou.com/news/gsnews/">返回案例列表</a> </div>
    </div>
  </article>
</section>

<include file="Public:footer" />


<div class="bottom_tools">
  <a href="http://qiao.baidu.com/v3/?module=default&controller=im&action=index&ucid=1588640&type=n&siteid=6550019" class="kf_tools" target="_blank">客服</a>
  <a href="javascrip:void(0);" class="qr_tool">二维码</a>
  <a href="http://www.pibu.com/services/advise.html" target="_blank" title="意见、建议、反馈、投诉、举报等" class="feedback">意见反馈</a>
  <a href="javascript:void(0);" id="scrollup" title="返回页面顶部" class="scrollup"></a>
  <div class="qrcode_box" style="display: none;"></div>
</div>
<script type="text/javascript" src="{$Think.DH_SKIN}js/jquery.1.8.2.min.js" ></script>
<script type="text/javascript" src="{$Think.DH_SKIN}js/jquery.plugin.min.js" ></script>
<!--[if IE 6]>
<script type="text/javascript" src="{$Think.DH_SKIN}js/killie6.js" ></script>
<![endif]-->
<script type="text/javascript">
//<![CDATA[
	//Nav Start
	$("header>div>nav>ul>li>a").hover(function(){
		$(this).parent().stop(false,true).animate({"background-position-x":"6px",opacity:"0.7"},{duration:"normal", easing: "easeOutElastic"});
	},function(){
		$(this).parent().stop(false,true).animate({"background-position-x":"10px",opacity:"1"},{duration:"normal", easing: "easeOutElastic"});
	});
			<!----新闻---->
	<!---- 详细页 ----->
		//Show News Start
		$("#case_footer>.showother>.previous,#case_footer>.showother>.next").hover(function(){
			$("span>img",this).stop(false,true).animate({"left":"-20px"},{duration:"fast", easing: "easeOutQuad"});
			$("#show_thumb>img").hide().eq($(this).index($("#case_footer>.showother>.previous,#case_footer>.showother>.next"))).show();
		},function(){
			$("span>img",this).stop(false,true).animate({"left":"0"},{duration:"fast", easing: "easeOutQuad"});
		});
		//Show News End
					$("#gotop").click(function(){$('body,html').animate({scrollTop:0},500);})
	var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
	document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3fe5b2b119b5fc4931e9c73e7071b0c6' type='text/javascript'%3E%3C/script%3E"));
	var bds_config = {"bdTop":203};
	$("#bdshell_js").attr("src","http://share.baidu.com/static/js/shell_v2.js?cdnversion=" + new Date().getHours());
$("#scrollup").click(function(){$('body,html').animate({scrollTop:0},500);})
$(".qr_tool").mouseover(function(){
    $(".qrcode_box").css("display","block");
});
$(".qr_tool").mouseout(function(){
    $(".qrcode_box").css("display","none");
});
//]]>
</script>
</body>
</html>
